.btn {
  background-color: #505050;
  border: 1px solid #505050;
  color: white;
  width: 90%;
  border-radius: 30px;
  margin: 1px;
  padding: 1px;
}
.btn--operator {
  background-color: #4285f4;
}
.btn--dot {
  background-color: #d4d4d2;
}

* {
  margin: 0px;
}

.title {
  margin: 10px;
  background-color: #1c1c1c;
  color: #d4d4d2;
  width: 170px;
  padding-bottom: 5px;
  text-align: center;
}

.container {
  margin: 100px;
  justify-content: center;
  border: 2px solid;
  width: 30%;
  background-color: #1c1c1c;
  border-radius: 10px;
}

td {
  padding: 0px;
}

td {
  padding: 0px;
}
