@use "./partials/mixin";
@use "./partials/devices";
* {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.container {
    @include mixin.background-color-modifier;
    background-size: 100%;
    height: 100vh;

    &--three {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--four {
        div > p {
            display: grid;
            justify-content: center;
        }
    }
}

header {
    text-align: center;
    font-size: 400%;
    color: #ffffffca;
}

a:hover {
    color: white;
}
.header {
    color: #ffffffca;
    font-size: 400%;
    text-align: center;
    font-weight: 900;
}

.linkHeader {
    color: #ffffffca;
    display: flex;
    justify-content: end;
    margin: 0px;
}

h1 {
    @include devices.phone {
        font-size: smaller;
        width: 100%;
    }
}

div > p > a > img {
    height: 100px;
    width: 100px;
}

#gmailImg {
    height: 75px;
    width: 100px;
}

div > p > a {
    color: #ffffffca;
    display: flexbox;
}
div > p {
    margin-bottom: 100px;
}

nav {
    position: fixed; /* Make it stick/fixed */
    right: 0px;
}

ul {
    list-style-type: none;
    margin-top: 20px;
}
li {
    margin: 20px;
    text-align: center;
}

.nav__bar {
    color: #ffffffca;
    margin: 5px;
    padding: 6px;
    font-size: larger;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
}

.skills-container {
    text-align: center;
    color: #ffffffca;
}

.skills-header {
    font-size: 300%;
    font-weight: bolder;
    margin-bottom: 0px;
    text-align: center;
    color: #ffffffca;
}

.about {
    &--text {
        color: #ffffffca;
        margin: 10px;
        font-size: 150%;

        &__icon {
            font-size: 400%;
            margin: 50px;
            margin-bottom: 0px;
            margin-top: 0px;
            text-align: center;
        }

        &__desc {
            font-size: 100%;
            margin-top: 0px;
            margin-left: 20px;
        }
    }
}

.fa-brands {
    margin: 20px;
    justify-content: center;
}

.placeholder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border: 2px solid black;
    height: 80vh;
    width: 130vh;
}

table {
    border: 2px solid black;
    height: 20vh;
    width: 30vh;
    margin: 10px;
}

#projectLink {
    background-color: rgb(21, 23, 34);
}
