.btn {
    background-color: #505050;
    border: 1px solid #505050;
    color: white;
    width: 90%;
    border-radius: 30px;
    margin: 1px;
    padding: 1px;

    &--operator {
        //background-color: #ff9500;
        background-color: #4285f4;
    }

    &--dot {
        background-color: #d4d4d2;
    }
}
